@import 'transitions'


body, html, #app
  height: 100%

body
  background: body-bg !important

// draggable
.draggable-handler
  cursor: move !important
  cursor: -webkit-grabbing !important

.sortable-ghost
  background: #C8EBFB !important
